/* reset */
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  vertical-align: bottom;
  max-width: 100%;
}
button {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
  border-radius: 0;
  text-align: inherit;
  cursor: pointer;
}

/* base */
body {
  aspect-ratio: 9/16;
  max-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: impact, MS-gothic;
  background-color: gray;
  overflow: hidden; /* 検証画面のスクロールバーを出現させない */
  border: 4px solid #2d100752;
}
.screen {
  width: 100%;
  height: 100%;
}
.none {
  display: none;
}

/* title */
#title {
  background-image: url(images/title@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
#title button {
  width: 46%;
  aspect-ratio: 496/156;
  margin-bottom: 15.74%;
  border-radius: 78px;
  text-align: center;
  font-size: clamp(100%, 10vw, 40px);
  letter-spacing: 0.1em;
  color: #995633;
  background-color: #f1ec7e;
  border: none;
  box-shadow: 0px 6px #e5814c;
}
/* play */
#play {
  position: relative;
}
#play.bg-01 {
  background: url(images/bg_01.png) center/cover no-repeat;
}
#play.bg-02 {
  background: url(images/bg_02.png) center/cover no-repeat;
}
#play.bg-03 {
  background: url(images/bg_03.png) center/cover no-repeat;
}
#play.bg-04 {
  background: url(images/bg_04.png) center/cover no-repeat;
}
.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 210/1080;
  max-height: 12vh;
  width: 100%;
  background-color: #F1EC7E;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header img {
  display: inline-block;
  object-fit: contain;
  width: 100%;
}
.box-left {
  width: 20%;
}
.box-center {
  width: 42%;
}
.box-right {
  width: 28%;
}
.box-score {
  display: flex;
}
.box-score-title{
  display: flex;
}
.box-num-score {
  display: flex;
}
.box-num-score img {
  width: 20%;
}


.bnn-ef {
  position: absolute;
  top: 40%;
  font-size: 2.4rem;
  color: #efed41;
  -webkit-text-stroke: 2px #ef7c39;
  /* text-stroke: 2px #Fef7c39; */
  -webkit-animation: fadeInUp 0.2s;
  animation: fadeInUp 0.2s;
}
.bnn-ef1 {
  left: 15%;
}
.bnn-ef2 {
  left: 22%;
}
.bnn-ef3 {
  left: 29%;
}
.bnn-ef4 {
  left: 42%;
}
.bnn-ef5 {
  left: 50%;
}
.bnn-ef6 {
  left: 62%;
}
.bnn-ef7 {
  left: 70%;
}

/* play（操作ボタン） */
#play {
  position: relative;
}
.play-btns {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 0;
}
.left-btn,
.right-btn {
  width: 100%;
  max-width: 32%;
  aspect-ratio: 346 / 324;
}
.left-btn {
  background: url(images/arrow_left@2x.png) center/contain no-repeat;
  margin-right: 10%;
}
.right-btn {
  background: url(images/arrow_right@2x.png) center/contain no-repeat;
}
.leave-l {
  animation: leave-l-anim 0.8s 0.6s both;
}
.leave-r {
  animation: leave-r-anim 0.8s 0.6s both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 280%, 0);
    transform: translate3d(0, 280%, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes leave-l-anim {
  0% {
  }
  100% {
    transform: translateX(-500px);
  }
}
@keyframes leave-r-anim {
  0% {
  }
  100% {
    transform: translateX(500px);
  }
}

/* over */
#over {
  background-image: url(images/bg_05.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.over__body {
  position: relative;
  width: 100%;
}
.yes-btn,
.no-btn {
  position: absolute;
  width: calc(100% / 4);
}
.yes-btn,
.no-btn {
  top: 56%;
  height: calc(100% / 4);
  background-color: #e5af4c;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  transition: 0.3s ease;
  border-radius: 78px;
  box-shadow: 0px 6px 0px 0px #ff3c0b;
}
.yes-btn {
  left: 17%;
  background-image: url(images/yes@2x.png);
  background-size: 62%;
}
.no-btn {
  right: 17%;
  background-image: url(images/no@2x.png);
  background-size: 42%;
}

.yes-btn:active,
.no-btn:active {
  top: 51%;
  box-shadow: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-color: #615478;
  }
}

/* clear */
#clear {
  background-image: url(images/clear.gif);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
